<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What kind of Godbound am I?</title>
    <%= assets(:css) %>
  </head>
  <body>
    <div class="content">
      <h1>You are a Godbound of</h1>
      <b><%= @words[0] %></b>,<br />
      <b><%= @words[1] %></b> and<br />
      <b><%= @words[2] %></b>
    </div>
  </body>
</html>
