@function google-font($n) {
  @return 'https://fonts.googleapis.com/css?family=' + $n;
}

$font-url: google-font('Crimson+Text');
@import url($font-url);
$bgcolor: #808080;

body {
  background-color: $bgcolor;
  font-family: 'Crimson Text';

  .content {
    font-size: 2em;
    text-align: center;
  }
}
